body {
  font-family: 'Raleway', sans-serif; }

.nav-bar {
  position: absolute;
  top: 75px;
  left: 25px;
  color: white !important;
  font-weight: 800;
  font-size: 1.5em; }
  .nav-bar ul {
    list-style-type: none; }
    .nav-bar ul li {
      display: inline;
      margin-right: 1em; }
      .nav-bar ul li a {
        color: white;
        text-decoration: none;
        transition: .25s; }
      .nav-bar ul li a:hover {
        color: #f96e6f;
        transition: .25s; }

.social {
  color: white;
  font-size: 1.75em; }
  .social .fa {
    margin-left: 1em; }
  .social a {
    color: white;
    text-decoration: none;
    transition: .25s; }
  .social a:hover {
    color: #f96e6f;
    transition: .25s; }
  .social .fa-linkedin {
    -webkit-animation-delay: 1.8s; }
  .social .fa-github {
    -webkit-animation-delay: 1.9s; }
  .social .fa-twitter {
    -webkit-animation-delay: 2.0s; }
  .social .fa-instagram {
    -webkit-animation-delay: 2.1s; }
  .social .fa-vimeo {
    -webkit-animation-delay: 2.2s; }

.hero {
  background: url("./img/hero.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100vh;
  margin-bottom: 0; }

.hero-text {
  position: relative;
  text-align: center;
  top: 40%;
  color: white !important; }
  .hero-text h1 {
    font-weight: 800; }
    .hero-text h1.fadeInDown {
      -webkit-animation-duration: 1.5s;
      -webkit-animation-delay: 0s; }
  .hero-text p.fadeInDown {
    -webkit-animation-duration: 1s;
    -webkit-animation-delay: 1s; }

p {
  line-height: 22px; }

.resume .sub-category {
  margin-bottom: 0; }

.resume .year {
  font-size: 11px; }

.fat {
  font-weight: 800; }

.medium {
  font-weight: 700; }

.right {
  text-align: right; }

.left {
  text-align: left; }

.row {
  margin: 0; }

.projects .row {
  height: 25vh;
  position: relative; }
  .projects .row img {
    width: 200px;
    height: auto;
    display: inline-block;
    margin: 0 auto;
    margin-top: 30px; }

.stego {
  text-align: center;
  background-color: #f96e6f;
  color: white;
  top: 50%; }
  .stego img {
    max-width: 200px;
    height: auto; }

.category {
  margin-bottom: 25px;
  color: #f96e6f; }

.sub-category {
  margin-top: 0; }
