@mixin viewport ($size){
	@if $size == medium {
		@media all and (min-device-width: 768px) and (max-width: 1023px) {
			@content;
		}
	}
	@else if $size == small {
		@media all and (max-device-width: 767px) {
			@content;
		}
	}
}

@mixin project ($projectname){
	background-color: $projectname;
	a:hover {
		color: $projectname;
		background-color: white;
	}
}

$coral: #f96e6f;

body {
	font-family: 'Raleway', sans-serif;
}

.padding-top {
	padding-top: 60px;
}

.margin-bottom {
	margin-bottom: 60px;
}

.container-fluid {
	padding: 0;
}

.intro {
	h1 {
		font-weight: 800;
	}
}

ul {
	padding-left: 18px;
	li {
		list-style-type: circle;
		line-height: 30px;
	}
}

.divider-bottom {
	border-bottom: 1px solid #eee;
	padding-bottom: 60px;
	@include viewport(small) {
		border-bottom: 4px solid #eee;
	}
}

.inner-divider-bottom {
	border-bottom: 1px solid #eee;
	padding-bottom: 30px;
	margin-bottom: 45px;
	@include viewport(small) {
		padding-bottom: 100px;
		margin-bottom: 100px;
		border-bottom: 4px solid #eee;
	}
}

.nav-bar {
	position: absolute;
	top: 75px;
	left: 25px;
	color: white !important;
	font-weight: 800;
	font-size: 1.5em;
	ul {
		padding-left: 40px;
		list-style-type: none;
		li {
			display: inline;
			margin-right: 1em;
			a {
				color: white;
				text-decoration: none;
				transition: .25s;
			}
			a:hover {
				color: $coral;
				transition: .25s;
			}
		}
		@include viewport(medium) {
			padding-left: 0;
		}
	}
	@include viewport(medium) {
		display: none;
	}
	@include viewport(small) {
		display: none;
	}
}

.social {
	color: white;
	font-size: 1.75em;
	@include viewport(small) {
		font-size: 3em;
	}
	@include viewport(medium) {
		font-size: 3em;
	}
	.fa {
		margin-left: 1em;
	}
	a {
		color: white;
		text-decoration: none;
		transition: .25s;
	}
	a:hover {
		color: $coral;
		transition: .25s;
	}
	.fa-linkedin {
		-webkit-animation-delay: 1.8s;
	}
	.fa-github {
		-webkit-animation-delay: 1.9s;
	}
	.fa-twitter {
		-webkit-animation-delay: 2.0s;
	}
	.fa-instagram {
		-webkit-animation-delay: 2.1s;
	}
	.fa-vimeo {
		-webkit-animation-delay: 2.2s;
	}
	.fa-envelope {
		-webkit-animation-delay: 2.3s;
	}
	.first-icon {
		margin-left: 0;
	}
}

.hero {
	background: url('../img/hero.jpg');
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	height: 100vh;
	margin-bottom: 0;
	@include viewport(small) {
		height: 50vh;
		h1 {
			font-size: 4.5em;
		}
		p {
			font-size: 2em;
		}
	}
	@include viewport(medium) {
		height: 400px;
	}
}

.download {
	a {
		-webkit-transition: .25s;
		text-decoration: none;
		border: 1px solid #333;
		margin: 0 auto;
		border-radius: 100px;
		font-weight: 600;
		margin-bottom: 70px;
		padding: 7px 20px;
		color: #333;
		@include viewport(small) {
			font-size: 2em;
			border: 3px solid #333;
			padding: 15px 40px;
		}
	}
	a:hover {
		background-color: $coral;
		color: white;
		border: 1px solid $coral;
		transition: .25s;
	}
	@include viewport(small) {
		padding: 25px;
	}
}

.hero-text {
	position: relative;
	text-align: center;
	top: 40%;
	color: white !important;
	h1 {
		font-weight: 800;
		&.fadeInDown {
			-webkit-animation-duration: 1.5s;
			-webkit-animation-delay: 0s;
		}
	}
	p {
		&.fadeInDown {
			-webkit-animation-duration: 1s;
			-webkit-animation-delay: 1s;
		}
	}
	@include viewport(medium) {
		top: 24%;
	}
	@include viewport(small) {
		top: 24%;
	}
}

// Basic Styles
p {
	line-height: 30px;
}

.resume {
	.sub-category {
		margin-bottom: 5px;
		a {
			text-decoration: none;
			color: inherit;
			transition: .25s;
		}
		a:hover {
			color: $coral;
			transition: .25s;
		}
		@include viewport(small) {
			font-size: 4em;
		}
	}
	.year {
		font-size: 11px;
		@include viewport(small) {
			font-size: 2em;
		}
	}
}

.padding-bottom {
		padding-bottom: 30px;
}

.fat {
	font-weight: 800;
}

.medium {
	font-weight: 700;
}

.right {
	text-align: right;
}

.left {
	text-align: left;
}

.row {
	margin: 0;
}

.school {
	font-weight: 700;
	@include viewport(small) {
		font-weight: 200;
		font-size: 2em !important;
	}
	@include viewport(medium) {
		font-weight: 200;
		font-size: 1em;
	}
}

// Projects
.projects {
	$stego: #8cc866;
	$glint: #04627e;
	$offthetruck: #691a1c;
	$spoilerblock: #485867;
	.row {
		img {
			width: 300px;
			height: auto;
			display: inline-block;
			margin: 0 auto;
			padding: 50px 0 20px 0;
			@include viewport(small){
				width: 60%;
			}
		}
	}
	a {
		-webkit-transition: .25s;
		color: white;
		text-decoration: none;
		border: 1px solid white;
		margin: 0 auto;
		border-radius: 100px;
		font-weight: 600;
		margin-bottom: 70px;
		padding: 7px 20px;
		@include viewport(small){
			font-size: 2em;
			border: 3px solid white;
			padding: 15px 40px;
		}
	}
	.view-project {
		margin-bottom: 50px;
		@include viewport(small){
			margin-bottom: 100px;
		}
	}
	a:hover {
		.view-project {
			-webkit-transition: .25s;
			background-color: white;
		}
	}
	.stego {
		@include project($stego);
	}
	.glint {
		@include project($glint);
	}
	.offthetruck {
		@include project($offthetruck);
	}
	.spoilerblock {
		@include project($spoilerblock);
	}
}

// Resume
.category {
	margin-bottom: 25px;
	color: $coral;
}

.sub-category {
	margin-top: 0;
}

.company {
	@include viewport(small) {
		font-size: 4em !important;
	}
}

// Mobile Styles
.mobile-center {
	@include viewport(medium) {
		text-align: center;
	}
	@include viewport(small) {
		text-align: center;
	}
}

.mobile-divider-bottom {
	display: none;
	width: 40%;
	margin: 0 auto;
	margin-top: 45px;
	margin-bottom: 15px;
	@include viewport(medium) {
		display: block;
		border-bottom: 1px solid #eee;
	}
	@include viewport(small) {
		display: block;
		border-bottom: 4px solid #eee;
		margin-top: 100px;
		margin-bottom: 70px;
	}
}

h1 {
	@include viewport(small) {
		font-size: 4.5em;
	}
}

p, li {
	@include viewport(small) {
		font-size: 2em;
		line-height: 80px !important;
	}
}
